html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

input:focus,
button:active,
button:focus {
  border: 1px solid --secondary !important;
  box-shadow: none !important;
}

/* Home Page */
.homeBanner {
  background-image: url("/public/images/doctor-standing-with-his-arms-crossed-with-copy-space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
  color: white !important;
}

.bannerMainTextContainer {
  position: absolute;
  top: 30px;
  left: 30px;
  max-width: 500px;
}

.bannerCallToActionBtn {
  border-radius: 50px;
  padding: 20px;
  border: none;
}

/* .bannerCallToActionBtn:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 121, 23, 0.8496440812653187) 0%,
    rgba(2, 0, 36, 1) 100%,
  );
  box-shadow: none;
} */


